@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "header.css";
@import "p1.css";
@import "p2.css";
@import "p3.css";
@import "p4.css";
@import "capa.css";
@import "footer.css";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1 {
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 900px;
  max-width: 100%;
  margin: auto;
}
